* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: darkslategray;
    color: whitesmoke;
}

.container {
    text-align: center;
    padding: 1.5em;
    width: 80%;
    margin: auto;
}

button {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 1.25em;
}