* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 90%;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    background-color: #023047;
    color: whitesmoke;
}

.container {
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    background-color: #219ebc;
    border-radius: 10px;
}

#count-value {
    margin: .75em 0 .5em;
    font-size: 3em;
}

button {
    margin: .25em;
    background-color: #fb8500;
    color: whitesmoke;
}

#plus-btn, #minus-btn {
    font-size: 2.5em;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
}

#save-btn {
    border: none;
    padding: .5em 2.5em;
    border-radius: 8px;
    font-size: 1.5em;
    margin-bottom: 1em;
}

#saved-value {
    margin: .75em;
}

strong {
    color: #1b263b;
}